Repository PX4/PX4-ECL, pull requests merged in 2018-03, with the labels that each got.

#404 attitude_fw: move angular rate limits to body angular rates
  attitude_fw/ecl_controller.cpp
  attitude_fw/ecl_controller.h
  attitude_fw/ecl_pitch_controller.cpp
  attitude_fw/ecl_pitch_controller.h
  attitude_fw/ecl_roll_controller.cpp
  attitude_fw/ecl_yaw_controller.cpp
Labels: attitude_fw, bug

#406 EKF interface add get_wind_status()
  EKF/estimator_interface.h
Labels: ekf, enhancement

#409 TECS and L1 switch to matrix math library
  l1/ecl_l1_pos_controller.cpp
  l1/ecl_l1_pos_controller.h
  tecs/tecs.cpp
  tecs/tecs.h
Labels: l1, tecs
