Repository PX4/PX4-ECL, pull requests merged in 2019-11, with the labels that each got.

#666 Jenkins: update container tags; use px4-dev-base-bionic
  Jenkinsfile
Labels: CI, enhancement

#664 Add access to EKF state reset
  EKF/ekf.cpp
  EKF/ekf.h
  EKF/estimator_interface.h
Labels: ekf, non-functional

#662 [ekf] controlMagFusion refactor and mag field strength check
  EKF/AlphaFilter.hpp
  EKF/CMakeLists.txt
  EKF/common.h
  EKF/control.cpp
  EKF/covariance.cpp
  EKF/ekf.cpp
  EKF/ekf.h
  EKF/ekf_helper.cpp
  EKF/estimator_interface.h
  EKF/mag_control.cpp
  EKF/mag_fusion.cpp
  EKF/terrain_estimator.cpp
  geo_lookup/geo_mag_declination.cpp
  test/CMakeLists.txt
  test/test_AlphaFilter.cpp
  test/test_EKF_basics.cpp
Labels: ekf

#669 parameters: change check_mag_strength from bool to int32_t to comply with the standard interface
  EKF/common.h
Labels: bug, ekf

#673 Check PDOP instead of GDOP
  EKF/common.h
  EKF/gps_checks.cpp
  test/test_EKF_basics.cpp
Labels: ekf
