Repository PX4/PX4-ECL, pull requests merged in 2020-02, with the labels that each got.

#743 ekf: add vehicle at rest to control status flags
  EKF/common.h
  EKF/ekf_helper.cpp
  EKF/estimator_interface.cpp
  EKF/estimator_interface.h
  EKF/gps_checks.cpp
  EKF/mag_fusion.cpp
Labels: ekf, enhancement

#753 ekf: clean uncorrelateQuatStates function
  EKF/control.cpp
  EKF/ekf.h
  EKF/ekf_helper.cpp
  EKF/gps_yaw_fusion.cpp
Labels: non-functional

#756 EKF: ImuDownSampler pass imuSample as const reference
  EKF/imu_down_sampler.cpp
  EKF/imu_down_sampler.hpp
Labels: ekf, enhancement

#757 ekf: fix angle wrapping in realignYawGPS
  EKF/ekf_helper.cpp
Labels: bug

#761 EKF: dont check gps_check_fail_status is velocity reset
  EKF/ekf_helper.cpp
Labels: bug, ekf
