Repository PX4/PX4-ECL, pull requests merged in 2020-05, with the labels that each got.

#811 Increase matrix library usage and remove white line
  EKF/control.cpp
Labels: non-functional

#809 Fix ev_pos_obs_var(1) entry
  EKF/control.cpp
Labels: bug

#812 Refactor velocity resets
  EKF/ekf.h
  EKF/ekf_helper.cpp
Labels: non-functional

#810 Remove duplicate code during vision yaw reset
  EKF/control.cpp
Labels: ekf, non-functional

#813 Fix GPS altitude not fused if GPS checks fail and GPS is primary height source
  EKF/control.cpp
Labels: bug, ekf

#817 ekf: split accel bias learning in independant xyz components
  EKF/covariance.cpp
  EKF/ekf.h
  test/test_EKF_initialization.cpp
Labels: ekf, non-functional

#818 ekf: disable xy accel bias learning before takeoff
  EKF/covariance.cpp
  test/change_indication/iris_gps.csv
  test/test_EKF_initialization.cpp
Labels: ekf, enhancement

#822 Refactor position resets
  EKF/control.cpp
  EKF/ekf.h
  EKF/ekf_helper.cpp
  EKF/mag_control.cpp
Labels: non-functional

#825 EKF: resetGpsAntYaw() fix double promotion
  EKF/gps_yaw_fusion.cpp
Labels: bug, ekf

#826 EKF: Allow reset of yaw to EKF-GSF later in flight
  EKF/common.h
  EKF/control.cpp
  EKF/ekf.h
Labels: ekf, enhancement

#827 unit test: check that the accel bias is only learned when observable
  test/sensor_simulator/ekf_wrapper.cpp
  test/sensor_simulator/ekf_wrapper.h
  test/test_EKF_initialization.cpp
Labels: ekf, non-functional
