Repository PX4/PX4-ECL, pull requests merged in 2020-01, with the labels that each got.

#671 TECS: remove height rate complementary filter
  tecs/tecs.cpp
  tecs/tecs.h
Labels: tecs

#692 mag_fusion: re-introduce delay between mag reset and fusion
  EKF/ekf.h
  EKF/mag_fusion.cpp
Labels: bug

#715 Switch to Github Action for CI
  .github/workflows/build_tests.yml
  .github/workflows/firmware_build_test.yml
  .github/workflows/unit_tests.yml
  Jenkinsfile
Labels: tests

#734 Ekf: use helper functions to centralize the checks of horizontal aiding
  EKF/control.cpp
  EKF/ekf_helper.cpp
  EKF/estimator_interface.cpp
  EKF/estimator_interface.h
  EKF/gps_checks.cpp
Labels: non-functional
