Repository PX4/PX4-ECL, pull requests merged in 2020-04, with the labels that each got.

#782 Range check cleanup
  EKF/CMakeLists.txt
  EKF/Sensor.hpp
  EKF/common.h
  EKF/control.cpp
  EKF/ekf.cpp
  EKF/ekf.h
  EKF/ekf_helper.cpp
  EKF/estimator_interface.h
  EKF/range_finder_checks.cpp
  EKF/sensor_range_finder.cpp
  EKF/sensor_range_finder.hpp
  EKF/terrain_estimator.cpp
  test/CMakeLists.txt
  test/sensor_simulator/range_finder.cpp
  test/test_SensorRangeFinder.cpp
Labels: ekf

#792 TerrainEstimator initialization fix
  EKF/control.cpp
  EKF/ekf_helper.cpp
  EKF/sensor_range_finder.hpp
  EKF/terrain_estimator.cpp
  test/test_SensorRangeFinder.cpp
Labels: bug, ekf, enhancement

#793 Change naming from tiltOffset to pitchOffset
  EKF/control.cpp
  EKF/ekf.cpp
  EKF/sensor_range_finder.cpp
  EKF/sensor_range_finder.hpp
  test/test_SensorRangeFinder.cpp
Labels: non-functional

#663 EKF increase delta velocity variance while sensor is clipping
  EKF/common.h
  EKF/covariance.cpp
  EKF/estimator_interface.cpp
  EKF/imu_down_sampler.cpp
  test/sensor_simulator/imu.cpp
Labels: ekf, enhancement

#795 EKF: Improve covariance prediction stability
  EKF/covariance.cpp
  EKF/estimator_interface.h
  README.md
  test/change_indication/iris_gps.csv
  test/test_EKF_externalVision.cpp
  test/test_EKF_flow.cpp
  test/test_EKF_fusionLogic.cpp
  test/test_EKF_imuSampling.cpp
  test/test_EKF_initialization.cpp
Labels: bug, ekf

#803 Avoid subtraction of two uint inside RingBuffer
  EKF/RingBuffer.h
Labels: non-functional

#805 Fix EKF does emergency yaw reset after intermittent gps data
  EKF/control.cpp
  EKF/ekf.h
Labels: bug, ekf
