Repository PX4/PX4-ECL, pull requests merged in 2020-08, with the labels that each got.

#882 Tiny refactor of gps fusion start
  EKF/control.cpp
  EKF/ekf.h
  EKF/ekf_helper.cpp
Labels: ekf, non-functional

#871 EKF: Convert EKF-GSF yaw estimator from matlab to sympy derived equations
  EKF/EKFGSF_yaw.cpp
  EKF/EKFGSF_yaw.h
  EKF/python/gsf_ekf_yaw_estimator/code_gen.py
  EKF/python/gsf_ekf_yaw_estimator/generated/covariance_prediction_generated.cpp
  EKF/python/gsf_ekf_yaw_estimator/generated/measurement_update_generated.cpp
  EKF/python/gsf_ekf_yaw_estimator/main.py
Labels: ekf, enhancement

#879 EKF: Convert magnetic field observation methods to use SymPy generated code
  EKF/ekf.h
  EKF/mag_fusion.cpp
  EKF/python/ekf_derivation/code_gen.py
  EKF/python/ekf_derivation/generated/3Dmag_fusion_generated_compare.cpp
  EKF/python/ekf_derivation/generated/3Dmag_generated.cpp
  EKF/python/ekf_derivation/generated/3Dmag_generated_alt.cpp
  EKF/python/ekf_derivation/generated/3Dmag_innov_var_generated.cpp
  EKF/python/ekf_derivation/generated/mag_decl_fusion_generated_compare.cpp
  EKF/python/ekf_derivation/generated/mag_decl_generated.cpp
  EKF/python/ekf_derivation/generated/yaw_fusion_generated_compare.cpp
  EKF/python/ekf_derivation/main.py
  test/change_indication/iris_gps.csv
Labels: ekf, enhancement

#880 EKF: Convert GPS yaw observation method to use SymPy generated code
  EKF/gps_yaw_fusion.cpp
  EKF/python/ekf_derivation/generated/gps_yaw_fusion_generated_compare.cpp
  EKF/python/ekf_derivation/generated/gps_yaw_generated.cpp
Labels: ekf, enhancement

#889 EKF: use ecl::powf for integer exponents
  EKF/gps_yaw_fusion.cpp
  EKF/mag_fusion.cpp
Labels: ekf, enhancement

#897 mag_fusion: remove dead code
  EKF/mag_fusion.cpp
Labels: non-functional
