Repository PX4/PX4-ECL, pull requests merged in 2020-12, with the labels that each got.

#938 EKF: RingBuffer minor improvements
  EKF/RingBuffer.h
  EKF/common.h
  EKF/ekf_helper.cpp
  EKF/estimator_interface.cpp
  EKF/estimator_interface.h
  test/sensor_simulator/baro.cpp
  test/sensor_simulator/ekf_wrapper.cpp
  test/sensor_simulator/mag.cpp
  test/sensor_simulator/vio.cpp
  test/test_EKF_measurementSampling.cpp
  test/test_EKF_ringbuffer.cpp
  test/test_SensorRangeFinder.cpp
Labels: ekf

#924 EKF: add mag bias reset helper and update IMU bias reset to match
  EKF/covariance.cpp
  EKF/ekf.h
  EKF/ekf_helper.cpp
Labels: ekf, enhancement

#936 Auto update change indication
  .github/workflows/functional_change_indicator.yml
  .github/workflows/update_change_indicator.yml
Labels: CI

#941 EKF: update control status and fault status getters
  EKF/estimator_interface.h
  test/sensor_simulator/ekf_wrapper.cpp
  test/test_EKF_basics.cpp
Labels: bug, enhancement

#931 EKF allow initializing without baro or mag depending on configuration
  EKF/ekf.cpp
  EKF/ekf_helper.cpp
  EKF/estimator_interface.cpp
  test/change_indication/ekf_gsf_reset.csv
  test/change_indication/iris_gps.csv
  test/test_EKF_initialization.cpp
Labels: ekf, enhancement

#946 EKF: update mag LPF immediately
  EKF/control.cpp
  EKF/ekf.h
  EKF/mag_control.cpp
Labels: ekf

#949 Add missing const modifier
  EKF/EKFGSF_yaw.cpp
  EKF/EKFGSF_yaw.h
Labels: non-functional

#950 flow: add unit test for yaw motion
  test/sensor_simulator/ekf_wrapper.cpp
  test/sensor_simulator/ekf_wrapper.h
  test/test_EKF_flow.cpp
Labels: non-functional, tests
