Repository PX4/PX4-ECL, pull requests merged in 2020-03, with the labels that each got.

#737 EKF control minor cleanup (use switch statement and fix code style)
  EKF/control.cpp
Labels: ekf

#763 EKF: Fix sign error in earth rotation rate correction
  EKF/ekf.cpp
  test/change_indication/iris_gps.csv
Labels: bug, ekf

#767 EKF: do not fuse multiple times the same height
  EKF/control.cpp
  EKF/ekf.h
  EKF/vel_pos_fusion.cpp
  test/change_indication/iris_gps.csv
  test/test_EKF_basics.cpp
Labels: bug, ekf

#768 EKF: Don't allow alignment if vehicle is moving excessively
  EKF/ekf.cpp
  EKF/ekf.h
Labels: bug, ekf

#773 EKF: update csv for change indicator
  test/change_indication/iris_gps.csv
Labels: bug

#775 EKFGSF_yaw::updateEKF() R_prev copy safely
  EKF/EKFGSF_yaw.cpp
Labels: ekf

#776 Tiny cleanup
  EKF/ekf_helper.cpp
Labels: non-functional

#765 delete attitude_fw
  CMakeLists.txt
  attitude_fw/CMakeLists.txt
  attitude_fw/ecl_controller.cpp
  attitude_fw/ecl_controller.h
  attitude_fw/ecl_pitch_controller.cpp
  attitude_fw/ecl_pitch_controller.h
  attitude_fw/ecl_roll_controller.cpp
  attitude_fw/ecl_roll_controller.h
  attitude_fw/ecl_wheel_controller.cpp
  attitude_fw/ecl_wheel_controller.h
  attitude_fw/ecl_yaw_controller.cpp
  attitude_fw/ecl_yaw_controller.h
Labels: attitude_fw

#693 ekf2: centralize mag covariance reset
  EKF/covariance.cpp
  EKF/ekf.h
  EKF/ekf_helper.cpp
Labels: enhancement

#781 YawEst: simplify AHRS accelerometer gain computation
  EKF/EKFGSF_yaw.cpp
  EKF/EKFGSF_yaw.h
Labels: non-functional

#783 Terrain estimator: Add sensor aiding bitmask
  EKF/common.h
  EKF/terrain_estimator.cpp
Labels: ekf

#787 EKF: fix range height sensor offset
  EKF/control.cpp
Labels: bug, ekf

#770 EKF: Enable GPS flight without magnetometer
  EKF/common.h
  EKF/control.cpp
  EKF/ekf.h
  EKF/ekf_helper.cpp
  EKF/gps_checks.cpp
  EKF/mag_control.cpp
  EKF/mag_fusion.cpp
  EKF/terrain_estimator.cpp
Labels: ekf, enhancement

#755 Interface style improvement
  EKF/airspeed_fusion.cpp
  EKF/covariance.cpp
  EKF/ekf.cpp
  EKF/ekf.h
  EKF/ekf_helper.cpp
  EKF/estimator_interface.cpp
  EKF/estimator_interface.h
  EKF/terrain_estimator.cpp
  test/sensor_simulator/ekf_logger.cpp
  test/sensor_simulator/ekf_wrapper.cpp
  test/sensor_simulator/ekf_wrapper.h
  test/test_EKF_airspeed.cpp
  test/test_EKF_basics.cpp
  test/test_EKF_externalVision.cpp
  test/test_EKF_fusionLogic.cpp
  test/test_EKF_initialization.cpp
Labels: non-functional

#790 Github Actions: update firmware docker repo
  .github/workflows/firmware_build_test.yml
Labels: CI
