Repository PX4/PX4-ECL, pull requests merged in 2021-02, with the labels that each got.

#967 lpos accuracy: bump variance if deadreckon time exceeded
  EKF/ekf_helper.cpp
Labels: enhancement

#974 flow terrain: use dedicated variable for last fusion time
  EKF/ekf.cpp
  EKF/ekf.h
  EKF/terrain_estimator.cpp
Labels: bug

#975 yaw emergency: check angle between vel observation and estimate
  EKF/control.cpp
  EKF/ekf.h
  test/change_indication/ekf_gsf_reset.csv
Labels: ekf, enhancement

#969 Heading reset to magnetometer from GPS or EV
  EKF/control.cpp
  EKF/ekf.h
  EKF/mag_control.cpp
  test/test_EKF_fusionLogic.cpp
  test/test_EKF_gps_yaw.cpp
Labels: ekf, enhancement
